/* layout */
.wrapper {
  width: 1280px;
  margin: 0 auto;
  padding-left: 11.2%;
}

/* component */
.searchResultSummary {
  font-size: var(--font-sm-size);
}

.searchResultSummary strong {
  font-weight: var(--font-regular);
}

.searchResultSummary span {
  font-weight: var(--font-light);
}

.searchResult {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;
}
