.wrapper {
  width: 1280px;
  margin: 15px auto;
  padding-left: 11.2%;
}

.title {
  font-size: var(--font-md-size);
  margin-bottom: 50px;
}

.subTitle {
  font-family: "Pretendard";
  font-size: var(--font-md-size);
  padding: 20px 0 20px;
  border-top: 1px solid var(--black-color);
}

.noticeWrapper {
  margin-bottom: 300px;
}

.noticeInfo {
  display: flex;
  gap: 10px;
  padding: 20px 0 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--black-color);
}

.noticeInfo strong,
.noticeInfo p,
.noticeDescription {
  font-size: var(--font-md-size);
  font-family: "Pretendard";
}
