/* layout */
.buttonWrapper {
  display: flex;
}

.totalProductPriceWrapper {
  justify-content: space-between;
  margin-top: auto;
}

/* typography */
.totalProductPriceWrapper,
.totalProductPriceWrapper p {
  font-family: "Pretendard";
}

.totalProductPriceWrapper,
.totalProductPriceWrapper p {
  font-size: var(--font-lg-size);
}

/* common */
.primaryActionButton,
.totalProductPriceCal::before {
  background-color: var(--black-color);
}

.totalProductPriceWrapper,
.totalProductPriceInner,
.totalProductPriceInner {
  display: flex;
}

/* component */
.buttonWrapper button {
  padding: 19px 0;
  margin-top: 22px;
  text-align: center;
  font-size: var(--font-sm-size);
  font-weight: var(--font-medium);
}

.primaryActionButton {
  width: 516px;
  color: var(--white-color);
}

.actionBtn {
  width: 200px;
  margin-left: 8px;
  border: 1px solid var(--black-color);
  color: var(--black-color);
}

.totalProductPriceCal::before {
  display: inline-block;
  content: "";
  width: 2px;
  height: 15px;
  margin: 0 12px;
}
