:root {
  font-size: 10px;

  --main-color: #d5beb1;
  --gray-color: #c4c4c4;
  --white-color: #fff;
  --black-color: #434343;
  --light-gray-color: #f2f2f2;
  --light-black-color: #767676;
  --dark-gray-color: #9a9a9a;

  --font-min-size: 1.2rem;
  --font-sm-size: 1.4rem;
  --font-md-size: 1.6rem;
  --font-lg-size: 1.8rem;
  --font-max-size: 2.4rem;
  --font-extra-size: 3.6rem;

  --font-thin: 100;
  --font-extra-light: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 900;
}

@font-face {
  font-family: "GmarketSans";
  font-weight: 300;
  src: url("../../public/font/GmarketSansLight.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  src: url("../../public/font/GmarketSansMedium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  src: url("../../public/font/GmarketSansBold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  src: url("../../public/font/Pretendard-Thin.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  src: url("../../public/font/Pretendard-ExtraLight.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url("../../public/font/Pretendard-Light.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("../../public/font/Pretendard-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("../../public/font/Pretendard-SemiBold.otf") format("opentype");
  font-display: swap;
}

body,
p {
  margin: unset;
  font-family: "GmarketSans";
}

h1,
h2,
h3,
h4 {
  padding: unset;
  margin: unset;
  font-weight: unset;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: initial;
}

ul,
li {
  margin: unset;
  padding: unset;
  list-style: none;
}

button {
  all: unset;
}

input {
  border: unset;
  outline: none;
}

select {
  appearance: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
