.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.errorDescriptionWrapper {
  margin: 20px 0px 40px;
}

.errorMessage {
  font-family: "Pretendard";
  font-size: var(--font-extra-size);
  font-weight: var(--font-bold);
}

.errorDescription {
  font-family: "Pretendard";
  font-size: var(--font-md-size);
  line-height: 20px;
}

.navigateBtnWrapper {
  display: flex;
  justify-content: end;
}

.navigateBtn {
  padding: 10px 0;
  font-family: "Pretendard";
  font-size: var(--font-md-size);
  font-weight: var(--font-bold);
  color: var(--black-color);
  margin-top: 10px;
}
