/* layout */
.wrapper {
  width: 1280px;
  margin: 100px 0 100px 23%;
}

/* typography */
.productInfoDetails p,
.actionButtonWrapper button {
  font-family: "Pretendard";
}

.sellingProductPrice,
.actionButtonWrapper button {
  font-size: var(--font-sm-size);
}

.productName,
.sellingProductPrice p {
  font-weight: var(--font-semi-bold);
}

/* common */
.sellingProductWrapper,
.sellingProductInfo,
.productInfoDetails {
  display: flex;
}

.sellingProductWrapper,
.sellingProductInfo {
  align-items: center;
}

.actionButtonWrapper,
.sellingProductPrice,
.sellingProductPrice p {
  text-align: center;
}

/* component */
.sellingProductWrapper {
  justify-content: center;
  padding: 20px 0;
}

.actionButtonWrapper {
  width: 300px;
}

.sellingProductInfo {
  width: 800px;
  gap: 25px;
  padding-left: 20px;
  box-sizing: border-box;
}

.productInfoDetails {
  flex-direction: column;
  gap: 15px;
}

.productInfoDetails p {
  font-size: var(--font-md-size);
}

.sellingProductPrice {
  width: 300px;
}

.actionButtonWrapper button {
  width: 80px;
  height: 30px;
  font-family: "Pretendard";
}

.modifyBtn {
  background-color: var(--black-color);
  color: white;
}

.deleteBtn {
  background-color: var(--white-color);
  border: 1px solid var(--black-color);
}
