/* layout */
.wrapper {
  width: 1280px;
  margin: 100px 0 0 23%;
}

.contentsWrapper {
  margin-top: 45px;
  padding-bottom: 150px;
}

.buttonWrapper {
  justify-content: flex-end;
}

/* typography */
.contentsWrapper,
.productDetailsWrapper span,
.productDetails strong,
.deliveryMethod button {
  font-family: "Pretendard";
}

.wrapper span {
  font-size: var(--font-sm-size);
}

.contentsWrapper h2,
.buttonWrapper button {
  font-size: var(--font-md-size);
}

/* common */
.productDetailsWrapper,
.productForm,
.formInputWrapper,
.productName,
.productDetails,
.productDetails input,
.productDetails strong,
.buttonWrapper {
  display: flex;
}

.productDetailsWrapper,
.productForm,
.productName {
  flex-direction: column;
}

.productName input,
.productDetails input,
.deliveryMethod button,
.cancelBtn {
  border: 1px solid var(--gray-color);
}

.productImage,
.previewImage {
  width: 454px;
  height: 454px;
}

.productName input,
.productDetails input {
  height: 35px;
}

.previewImage,
.productDetails strong,
.deliveryMethod button,
.contents,
.buttonWrapper button {
  text-align: center;
}

/* component */
.productDetailsWrapper {
  justify-content: space-between;
}

.formInputWrapper {
  gap: 40px;
}

.productImage {
  object-fit: cover;
}

.previewImage {
  background-color: var(--gray-color);
  padding-top: 202px;
  box-sizing: border-box;
}

.productDetailsWrapper span {
  display: block;
  padding-bottom: 6px;
}

.productName input {
  width: 600px;
}

.productDetails input {
  width: 170px;
}

.productDetails strong {
  align-items: center;
  justify-content: center;
  width: 35px;
  background-color: var(--gray-color);
  color: white;
}

.deliveryMethod button {
  width: 207px;
  height: 40px;
  font-size: var(--font-min-size);
}

.active {
  background-color: var(--black-color);
  color: white;
}

.contentsWrapper h2 {
  margin-bottom: 10px;
}

.contents {
  width: 1280px;
  height: 700px;
  padding-top: 350px;
  background-color: var(--light-gray-color);
  box-sizing: border-box;
  font-size: var(--font-lg-size);
}

.buttonWrapper button {
  width: 200px;
  height: 60px;
  margin-top: 45px;
}

.submitBtn {
  margin-left: 10px;
  background-color: var(--main-color);
}
