/* layout */
.detailTabsWrapper {
  display: flex;
  width: 1270px;
  margin-top: 141px;
}

/* common */
.detailTabsItem,
.tabsItemBtn,
.active {
  width: 100%;
}

.tabsItemBtn,
.active {
  padding: 19px 0;
  cursor: pointer;
}

/* component */
.detailTabsItem {
  text-align: center;
  font-size: var(--font-sm-size);
}

.tabsItemBtn {
  border-bottom: 6px solid #e0e0e0;
}

.active {
  border-bottom: 6px solid var(--black-color);
}

.TabsItemContents {
  height: 300px;
  font-size: var(--font-md-size);
  padding: 20px;
}
