/* layout */
.wrapper {
  width: 1280px;
  margin: 0 auto;
}

.contentsWrapper {
  padding: 30px 0;
}

.productInfoWrapper {
  width: 600px;
  gap: 30px;
}

.orderInfoWrapper {
  width: 300px;
}

/* typography*/
.productInfoDetailsWrapper p,
.orderInfoWrapper p {
  font-family: "Pretendard";
  font-size: var(--font-md-size);
}

/* common */
.contentsWrapper,
.productInfoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productInfoDetailsWrapper,
.orderInfoWrapper {
  flex-grow: 1;
}

.productInfoDetailsWrapper strong,
.productInfoDetailsWrapper p {
  padding-bottom: 10px;
}

/* component */
.productImage {
  object-fit: cover;
  padding-left: 50px;
}

.productInfoDetailsWrapper strong {
  display: inline-block;
  font-size: var(--font-min-size);
}

.orderInfoWrapper p {
  text-align: center;
}
