/* layout */
.wrapper {
  width: 1280px;
  margin: 15px auto;
  padding-left: 11.2%;
}

.noticeListWrapper {
  margin: 50px 0 300px;
}

.brandProductsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;
}

/* typography */
.noticeItemLink,
.noticeItem p {
  font-family: "Pretendard";
  font-size: var(--font-sm-size);
}

.selectedMenuName,
.contents {
  font-size: var(--font-md-size);
}

/* component */
.noticeItem {
  display: flex;
  text-align: center;
  padding: 20px 0;
}

.noticeItemLink {
  flex-grow: 1;
}

.noticeNumber {
  width: 280px;
}

.noticeInfo {
  width: 300px;
}

.contents {
  width: 100%;
  height: 300px;
  margin-top: 10%;
  color: var(--gray-color);
  font-weight: var(--font-medium);
  text-align: center;
}
