/* layout */
.submitBtnWrapper {
  display: flex;
  justify-content: flex-end;
}

/* typography */
.label,
.submitBtnWrapper button {
  font-family: "Pretendard";
}

/* common */
.noticeTitle input,
.noticeDescription input {
  border: 1px solid var(--gray-color);
}

.submitBtnWrapper,
.noticeTitle input,
.noticeDescription input {
  width: 800px;
}

/* component */
.form {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-size: var(--font-md-size);
}

.noticeTitle input {
  display: inline-block;
  height: 30px;
  margin-right: 10px;
}

.noticeDescription {
  margin-top: 20px;
}

.noticeDescription input {
  height: 300px;
  display: block;
}

.submitBtnWrapper button {
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  font-size: var(--font-md-size);
  background-color: var(--main-color);
}
