/* typography */
.sidebarItem,
.submenu {
  font-family: "Pretendard";
}

/* component */
.sidebar {
  position: absolute;
  padding-left: 60px;
  margin-top: 100px;
}

.sidebarItem {
  width: 210px;
  padding: 15px;
  font-size: var(--font-lg-size);
  border-radius: 5px;
  text-align: center;
}

.active {
  background-color: var(--main-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.submenuWrapper {
  width: 100%;
  background-color: var(--gray-color);
}

.submenu {
  padding: 15px 0;
  text-align: center;
  font-size: var(--font-lg-size);
}
