.wrapper {
  display: flex;
  flex-direction: column;
  width: 1280px;
  margin: 0 auto;
}

.contentsWrapper {
  text-align: center;
}

.cartListWrapper {
  display: flex;
  align-items: center;
  margin: 40px 0;
}

.productInfoWrapper {
  display: flex;
  flex-direction: column;
  width: 380px;
}

.countControlWrapper {
  margin: 0 74px;
}

.TotalPriceWrapper {
  width: 300px;
  text-align: center;
  font-family: "Pretendard";
  font-size: var(--font-md-size);
  font-weight: var(--font-semi-bold);
  position: relative;
}

.actionBtnWrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 50px;
}

.contents {
  margin: 200px 0 30px 0;
  text-align: center;
  font-size: var(--font-md-size);
  color: var(--gray-color);
}

.contentsWrapper button {
  margin-bottom: 300px;
  padding: 15px 30px;
  border: 1px solid #222;
  font-size: var(--font-sm-size);
  font-weight: var(--font-medium);
}

.checkBox {
  margin: 0 250px 0 31px;
  width: 16px;
  height: 16px;
}

.productInfoWrapper p {
  font-family: "Pretendard";
  font-size: var(--font-md-size);
  margin-top: 20px;
}

.productStoreName {
  font-size: var(--font-sm-size);
  font-weight: var(--font-extra-bold);
}

.productPrice {
  font-weight: var(--font-semi-bold);
}

.shippingMethod {
  font-weight: var(--font-semi-bold);
}

.TotalPrice {
  font-family: "Pretendard";
  font-size: var(--font-md-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 28px;
}

.oneOrderBtn {
  font-size: var(--font-sm-size);
  text-align: center;
  border: 1px solid #222;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 10px 30px;
}

.removeBtn {
  position: absolute;
  top: -15px;
  right: 20px;
}

.emptyBtn {
  display: flex;
  gap: 10px;
  margin: 30px 0 30px 0;
  justify-content: end;
  padding: 15px 20px;
  font-size: var(--font-sm-size);
}

.totalPriceCal {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--black-color);
  border-bottom: 1px solid var(--black-color);
  gap: 10px;
  font-family: "Pretendard";
}

.totalPriceCal span {
  font-size: var(--font-md-size);
  font-weight: var(--font-regular);
}

.totalPriceCal p {
  font-family: "Pretendard";
  font-size: var(--font-lg-size);
  font-weight: var(--font-semi-bold);
}

.actionBtnWrapper button {
  padding: 15px 20px;
  font-size: var(--font-sm-size);
  text-align: center;
  border: 1px solid #222;
}

.actionBtnWrapper button.active {
  background-color: var(--black-color);
  color: white;
}
