/* layout */
.wrapper {
  width: 170px;
  margin-left: 1%;
  position: fixed;
}

/* typography */
.wrapper,
.sideMenu {
  font-size: var(--font-md-size);
}

/* common */
.sideMenuItem,
.brandMenuItem,
.brandMenuItemLink {
  margin-top: 15px;
}

/* component */
.sideMenu {
  padding-left: 70px;
}

.sideMenuItem {
  font-weight: var(--font-light);
}

.sideMenuItemWrapper {
  margin-top: 80px;
}

.brandMenu {
  margin: 40px 0 0 25px;
}

.brandMenuItemLink {
  color: var(--black-color);
}

.active {
  color: var(--main-color);
}
