.buttonWrapper {
  display: flex;
}

.buttonWrapper button {
  padding: 19px 0;
  margin-top: 22px;
  text-align: center;
  font-size: var(--font-sm-size);
  font-weight: var(--font-medium);
}

.primaryActionButton {
  width: 516px;
  background-color: var(--black-color);
  color: var(--white-color);
}

.actionBtn {
  width: 200px;
  margin-left: 8px;
  border: 1px solid var(--black-color);
  color: var(--black-color);
}
