/* layout */
.wrapper {
  width: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-top: 1px solid var(--black-color);
  border-bottom: 1px solid var(--black-color);
  padding: 30px 0;
}

.detailsWrapper {
  border-bottom: 1px solid #d4d7da;
  padding: 20px 0;
}

/* typography */
.detailsWrapper p,
.productPriceWrapper p,
.deliveryDetailsWrapper p {
  font-family: "Pretendard";
}

.detailsWrapper p,
.productPriceWrapper p,
.deliveryDetailsWrapper p,
.detailsTitle {
  font-size: var(--font-lg-size);
}

/* component */
.detailsTitle {
  font-weight: var(--font-medium);
}

.productImage {
  object-fit: cover;
}

.detailsWrapper p {
  padding: 3px 0;
}

.productPriceWrapper p {
  padding: 20px 0;
  margin-bottom: 25px;
}

.deliveryDetailsWrapper p {
  padding-top: 20px;
}
