/* layout */
.wrapper {
  margin: 0 40px 0;
  font-size: var(--font-sm-size);
}

/* typography */
.wrapper,
.bottomSection strong,
.bottomSection p {
  font-family: "Pretendard";
}

/* component */
.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 200px 0 22px;
}

.topSection li + li::before {
  content: "|";
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}

.navList {
  display: flex;
}

.navList li {
  cursor: pointer;
}

.IconList a {
  margin-right: 10px;
}

.IconList img {
  width: 32px;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 30px;
  border-top: 1px solid var(--gray-color);
  line-height: 30px;
}

.bottomSection strong {
  font-weight: var(--font-extra-bold);
}
