.form {
  display: flex;
  flex-direction: column;
  width: 552px;
  border: 1px solid var(--gray-color);

  padding: 35px;
  margin-top: -1px;
  box-sizing: border-box;
  font-family: "Pretendard";
}

.sellerSignUpForm {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.styledLabel {
  padding: 12px 0;
  font-size: var(--font-md-size);
}

.inputWrapper {
  display: flex;
  gap: 8px;
}

.passwordInputWrapper {
  display: flex;
  flex-direction: column;
}

.styledInput {
  height: 54px;
  border: 1px solid var(--gray-color);
  border-radius: 2px;
  margin-bottom: 13px;
}

.userIdInput {
  flex-grow: 1;
  font-size: var(--font-md-size);
}

.passwordInputWrapper img {
  position: absolute;
  margin: 15px 0px 0px 435px;
}

.errorMessage {
  color: red;
  font-family: "Pretendard";
  font-weight: var(--font-medium);
  font-size: var(--font-sm-size);
}

.actionBtn {
  height: 57px;
  padding: 0px 37px;
  border-radius: 5px;
  background-color: var(--main-color);
  font-size: var(--font-md-size);
  color: var(--white-color);
  text-align: center;
}

.phoneNumberWrapper {
  display: flex;
  gap: 8px;
}

.phoneNumberInput {
  width: 150px;
  text-align: center;
  font-size: var(--font-md-size);
}

.selectBtn {
  position: relative;
}

.selectBtn img {
  position: absolute;
  margin-left: -28px;
  margin-top: -13px;
}

.dropDownMenu {
  width: 155px;
  height: 150px;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  font-size: var(--font-md-size);
  overflow-y: auto;
  position: absolute;
  background-color: white;
}

.dropDownMenu::-webkit-scrollbar {
  width: 12px;
}

.dropDownMenu::-webkit-scrollbar-track {
  background: var(--light-gray-color);
}

.dropDownMenu::-webkit-scrollbar-thumb {
  background: var(--gray-color);
  border: 3px solid transparent;
  border-radius: 10px;
  background-clip: padding-box;
}

.dropDownMenu li {
  text-align: center;
  cursor: pointer;
  padding: 10px 0px;
  margin-left: 10px;
}

.otherSectionWrapper {
  display: flex;
  align-items: center;
  padding-top: 20px;
  gap: 5px;
  font-family: "Pretendard";
  font-size: var(--font-min-size);
  font-weight: var(--font-extra-light);
}

.agreementText span {
  font-weight: var(--font-regular);
}

.signBtn {
  margin-top: 20px;
  padding: 20px 213px;
  background-color: var(--black-color);
  color: white;
  font-family: "GmarketSans";
  font-size: var(--font-min-size);
  font-weight: var(--font-bold);
}
