.tabMenuBtns {
  display: table;
  width: 100%;
  font-family: "Pretendard";
  font-size: var(--font-md-size);
  text-align: center;
}

.tabMenuBtnsItem {
  display: table-cell;
}

.tabBtn {
  width: 100%;
  height: 67px;
  border: 1px solid var(--gray-color);
  z-index: 2;
  background-color: var(--light-gray-color);
  cursor: pointer;
}
