/* common */
.tabBtn,
.active {
  border: 1px solid var(--gray-color);
}

.tabMenuBtns,
.tabBtn {
  width: 100%;
}

/* component */
.tabMenuBtns {
  display: table;
  font-family: "Pretendard";
  font-size: var(--font-md-size);
  text-align: center;
}

.tabMenuBtnItem {
  display: table-cell;
}

.tabBtn {
  height: 67px;
  z-index: 2;
  background-color: var(--light-gray-color);
  cursor: pointer;
}

.active {
  border-bottom: 0;
  background-color: white;
}
